@using System.Globalization

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col">
        <form>
            <div class="form-group">
                <label for="siteURL">URL: </label>
                <input id="siteURL" class="form-control" placeholder="Enter URL" />

            </div>
            <button id="challengeSubmit" type="submit" class="btn btn-primary">Submit</button>
            <div id="error" class="alert alert-danger">
            </div>
            <div id="results">




            </div>
        </form>
    </div>
</div>

<script id="results-template" type="text/x-handlebars-template">
    <h2>Results</h2>
    <h4>{{URL}}</h4>
    <h3>Images</h3>
    <div id="challenge-carousel" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner"></div>
        <!-- Controls -->
        <a class="carousel-control-prev" href="#challenge-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#challenge-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <h3>Total Word Count:</h3> {{WordCount}}
    <h3>Top Words Graph</h3>
    <div id="chart">

    </div>
</script>