@{
    ViewBag.Title = "Error Page";
}
<div class="container">
    <div class="row">
        <div class="col">
            <img src="/images/Error.jpg" alt="Error" />
        </div>
        <div class="col">
            <h1>Error</h1>
            We are sorry, there has been some sort of error.<br />
            This error has been logged and appropiate steps will be taken.
        </div>
    </div>
</div>
