@{
    ViewBag.Title = "Not Found";
}

<div class="container">
    <div class="row">
        <div class="col">
            <img src="~/images/NotFound.jpg" alt="Not Found" />
        </div>
        <div class="col">
            <h1>Page Not Found</h1>
            We could not find the file you are looking for.<br />
            Instead, you can look at this cute kitten.
        </div>
    </div>
</div>
